*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #81ecec;
}

.menu {
  background-color: #fff;
  width: 60px;
  height: 60px;
  position: fixed;
  top: 25px;
  right: 25px;
  border-radius: 50%;
}